<div class="filelistWrapper">
    {{> pathBar}}
    <div class="elements">
        {{#each folders}}
            <div class="element folder">
                {{this}}
            </div>
        {{/each}}
        {{#each files}}
            <div class="element file">
                {{this}}
            </div>
        {{/each}}
    </div>
</div>