<div class="filelistWrapper">
    {{> pathBar}}
    <div class="elements">
        {{#each folders}}
            <div class="element folder">
                {{this}}
            </div>
        {{/each}}
        {{#each files}}
            <div class="element file">
                {{this}}
            </div>
        {{/each}}
    </div>
</div>

<style>
    .elements {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
    }

    .elements::after {
        content: "";
        flex: auto;
    }

    .element {
        width: 20%;
        max-width: 100px;
        aspect-ratio: 1/1;
        margin: 20px;
    }

    .file {
        background-color: lightblue;

    }

    .folder {
        background-color: slateblue;
    }

    .pathBarWrapper {
        display: block;
        margin: 10px;
    }
</style>