<div class="pathbar-wrapper">
    {{#each progressivePath}}
        <a href="/tree{{this}}">{{decodeURI (folderFromProgressivePath this)}} </a>
        <span class="pathbar-arrow">&gt;</span>
    {{/each}}
</div>