<header class="header">
    <span class="copyright">
            &copy;&nbsp;<a href="https://github.com/lemonjuiceexe" target="_blank" class="gh-link">lemonjuice</a>
    </span>
    <h3>Fileserver v1.0</h3>
    <p>Hi, <span class="header-username">{{username}}</span>!&nbsp;<a href="/logout">[Log out]</a></p>
</header>