<aside class="sidebar">
    <button onclick="openNewFolderHandler()">New folder</button>
    <button>New file</button>
    <div>
        <label for="upload">Upload</label>
        <input id="upload" type="file" multiple>
    </div>
    <dialog id="newFolderDialog">
        <label for="folderNameInput" class="dialog-title">
            Pora na nazwanie naszego nowego folderu w {{currentPath}}!
        </label>
        <input type="text" id="folderNameInput">
        <button onclick="newFolderSubmitHandler()">Create</button>
        <button onclick="cancelNewFolderHandler()">Cancel</button>
    </dialog>
</aside>

<script>
    function cancelNewFolderHandler(){
        document.querySelector("#newFolderDialog").close();
    }
	function openNewFolderHandler(){
		document.querySelector("#newFolderDialog").showModal();
    }
    function newFolderSubmitHandler(){
        const folderName = document.querySelector("#folderNameInput").value;
        if (folderName != null) {
			console.log('fetch');
			console.log(folderName);
			fetch("/createFolder", {
				method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                keepalive: true,
                body: JSON.stringify({
					folderName: folderName
				})
            })
                .then(response => {
                    if(response.redirected){
                        window.location.href = response.url;
                    }
                    else{
                        return response.json();
                    }
                })
                .catch(error => console.log(error));
        }
    }
</script>
<style>
    dialog{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
    .dialog-title{
        display: block;
        margin: 10px 0;
    }
</style>