<aside class="sidebar">
    <button onclick="newFolderHandler()">New folder</button>
    <button>New file</button>
    <div>
        <label for="upload">Upload</label>
        <input id="upload" type="file" multiple>
    </div>
</aside>

<script>
    function newFolderHandler(){
        const folderName = prompt("New folder in {{currentPath}}", "New folder");
        if (folderName != null) {
            // setCurrentPath(folderName);
			fetch('/createFolder', {
				method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    folderName: folderName
                })
            });
        }
    }
</script>