<aside class="sidebar">
    <button>New folder</button>
    <button>New file</button>
    <div>
        <label for="upload">Upload</label>
        <input id="upload" type="file" multiple>
    </div>
</aside>

<!--<script>-->
<!--    alert('sidebar.js');-->
<!--</script>-->