@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
:root {
	--black: #000000;
	--dark: #14213d;
	--accent: #fca311;
	--accent-2: #c12e3d;
	--light: #efe8e8;
	--foreground: #ffffff;
}
* {
	font-family: "DM Mono", monospace;
}
